/**
 * Inter — google font alternative for Plain
 */
@include font-face("Inter-Regular", "Inter-Regular");
@include font-face("Inter-Bold", "Inter-Bold");

/**
 * Font variables
 */
$inter-regular: "Inter-Regular", sans-serif;
$inter-bold: "Inter-Bold", sans-serif;
$base-size: 18;
$base-line-height: 26;
$font-primary: $inter-regular;
$font-secondary: $inter-bold;
